.input{
  outline: none;
  font-size: 13px;
  padding: 13px;
  border: 1px solid #C9C9C9;
  border-radius: 12px;
  font-weight: bold;
  width: 100%;
  min-width:336px;
}

.input::placeholder {
  color: #C9C9C9;
}

.input--error {
  border-color: #FF6F6F;
  color: #FF6F6F;
}

.input--error-message {
  color: #FF6F6F;
  font-size: 9px;
  font-weight: bold;
  margin: 4px 0 0 12px;
}
