.input {
  padding: 13px;
  border: 1px solid #c9c9c9;
  border-radius: 12px;
  width: 100%;
  min-width: 336px;
  display: flex;
  align-items: center;
  background-color: white;
}

.input--error {
  border-color: #ff6f6f;
}

.input--error > input {
  color: #ff6f6f;
}

.input--error-message {
  color: #ff6f6f;
  font-size: 9px;
  font-weight: bold;
  margin: 4px 0 0 12px;
}

.input > input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 13px;
  font-weight: bold;
}

.input > input::placeholder {
  color: #c9c9c9;
}
