@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: ‘Pretendard’;
    font-size: 16px;
    font-weight: 300;
  }

  body {
    width: 100vw;
    min-width: 350px;
    position: relative;
    background: white;
  }

  #root {
    height: 100vh;
  }
}
